# This YAML file is the configuration file for the pre-commit framework.
# It specifies the repositories, revisions, and hooks to be used for pre-commit checks.

# The 'exclude' field specifies a regular expression pattern to exclude files or directories from pre-commit checks.
exclude: ^\.

# The 'repos' field is a list of repositories to be used for pre-commit checks.
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: pretty-format-json
        args: [--autofix]
      - id: detect-private-key

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.1
    hooks:
      - id: ruff
        args:
        - --fix
        - --exit-non-zero-on-fix
        - --show-fixes
        - --ignore=E501
      - id: ruff-format

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args:
        - --atomic
        - --trailing-comma
        - --multi-line=3
