# Name of the workflow
name: CI

# Trigger the workflow on push and pull request events to the main branch
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# Define the jobs for this workflow
jobs:
  build:
    # The job runs on the latest version of Ubuntu
    runs-on: ubuntu-latest

    # Setup Docker service to build the Docker image
    services:
      docker:
        image: python:3.12-slim-bookworm
        options: --privileged
        # ports:
        #   - 2375:2375

    steps:
    # Step 1: Check out the repository
    - name: Checkout repository
      uses: actions/checkout@v2

    # Step 2: Set up Docker Buildx for building the Docker image
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    # Step 3: Build the Docker image
    - name: Build Docker image
      run: docker build -t devcontainer_de_template .

    # Step 4: Set up Python environment
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12' # Specify the Python version you are using

    # Step 5: Install Poetry, a dependency management tool for Python
    - name: Install Poetry
      run: curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -

    # Step 6: Install project dependencies using Poetry
    - name: Install dependencies
      run: |
        source $HOME/.poetry/env
        poetry install

    # Step 7: Run pre-commit hooks to ensure code quality
    - name: Run pre-commit hooks
      run: |
        source $HOME/.poetry/env
        poetry run pre-commit run --all-files

    # Step 8: Run tests using pytest
    - name: Run tests
      run: |
        source $HOME/.poetry/env
        poetry run pytest
